body{
    background-color: #90bac7	;
    margin: 0;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    color: aqua;
}

.list{
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
}

.list-item{
    flex-basis: 280px;
    background-color: beige;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 8px rgb(0,0,0);
    background-image: url(/img/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat ;
    
}

.list-item_img img{
    border-radius: 50%;
    width: 80px;
   margin-top: 120px;
}

.list-name{
    font-size: 24px;
    margin: 0;
    color: #385555;
}

.list-action{
    background-color: #e5e5e5e5;
    display: flex;
    padding: 16px;
    justify-content: space-evenly;
    gap: 16px;
}